name: RELEASE - Multi-arch Build & Push to Harbor

on:
  release:
    types: [published]
  

env:
  REGISTRY: harbor.bnov.net
  PROJECT: carris
  APP_NAME: carris-ui-backend
  FULL_IMAGE: harbor.bnov.net/carris/carris-ui-backend


jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_PASSWORD }}

      - name: Get release version
        id: vars
        run: |
          echo "VERSION=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT

      - name: Build and push (multi-arch)
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ env.FULL_IMAGE }}:${{ steps.vars.outputs.VERSION }}
            ${{ env.FULL_IMAGE }}:latest
